## LIMPIEZA Y FUNCIONES

In [1]:
# Instalaciones necesarias
#! pip install word2number

In [2]:
# Importaciones necesarias
import pandas as pd 
import numpy as np
from word2number import w2n
import re 
pd.set_option('display.max_columns', None)


# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Apertura del documento 
df_data = pd.read_csv("../DATA/DATA.csv", index_col= 0) 
df_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,1,"967,0",3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,Y,NaN,11,NaN,1,NaN,1,NaN,6,"3,0",16,NaN,3,7,"10325,0",1987,1000000000$,NaN,NaN,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,1,"972,0",3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,NaN,12,"3,0",2,NaN,0,NaN,5,"2,0",9,NaN,0,8,"4447,0",1978,1000000000$,NaN,NaN,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,1,NaN,13,0,41,4,3,sAlES ExECUTivE,3,Single,NaN,2560,0,NaN,No,18,"3,0",4,NaN,0,"9,0",3,"3,0",8,NaN,0,7,NaN,1984,1000000000$,NaN,NaN,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,1,"990,0",1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,NaN,No,13,NaN,4,NaN,2,"12,0",3,"3,0",7,NaN,0,7,NaN,1987,1000000000$,NaN,NaN,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,1,NaN,4,0,75,3,3,mAnUfactURInG DiRECTOr,3,NaN,"10845,0",24208,6,Y,NaN,13,"3,0",2,NaN,1,NaN,3,"3,0",8,NaN,0,7,"10845,0",1977,1000000000$,NaN,NaN,0

## Eliminar columnas

In [4]:
# Eliminacion de las columnas, tras la exploracion de los datos
df_data1= df_data.drop(columns= ["SameAsMonthlyIncome", "Salary", "NUMBERCHILDREN","RoleDepartament", "employeecount", "Over18", "DateBirth", "YearsInCurrentRole","StandardHours"], axis=1, inplace=False)

## Renombrar columnas

In [5]:
df_data1.columns = [col.upper() for col in df_data1.columns]

In [6]:
df_data1

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,GENDER,HOURLYRATE,JOBINVOLVEMENT,JOBLEVEL,JOBROLE,JOBSATISFACTION,MARITALSTATUS,MONTHLYINCOME,MONTHLYRATE,NUMCOMPANIESWORKED,OVERTIME,PERCENTSALARYHIKE,PERFORMANCERATING,RELATIONSHIPSATISFACTION,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51,No,NaN,"684,0$",NaN,6,3,NaN,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,No,13,"3,0",3,0,NaN,5,"3,0",20,15,15,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,14,"3,0",1,1,"34,0",5,"3,0",33,11,9,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,No,11,"3,0",4,0,"22,0",3,NaN,22,11,15,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,NaN,19,"3,0",2,2,NaN,2,NaN,20,5,6,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,No,12,"3,0",4,1,NaN,5,"3,0",19,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,"967,0",3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,NaN,11,NaN,1,1,NaN,6,"3,0",16,3,7,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,"972,0",3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,12,"3,0",2,0,NaN,5,"2,0",9,0,8,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,NaN,13,0,41,4,3,sAlES ExECUTivE,3,Single,NaN,2560,0,No,18,"3,0",4,0,"9,0",3,"3,0",8,0,7,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,"990,0",1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,No,13,NaN,4,2,"12,0",3,"3,0",7,0,7,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,NaN,4,0,75,3,3,mAnUfactURInG DiRECTOr,3,NaN,"10845,0",24208,6,NaN,13,"3,0",2,1,NaN,3,"3,0",8,0,7,0

## Guardar CSV

In [7]:
df_data1.to_csv("../DATA/data1.csv")

## Apertura CSV

In [8]:
# Apertura del documento 
df_data2 = pd.read_csv("../DATA/data1.csv", index_col= 0)

In [9]:
df_data2

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,GENDER,HOURLYRATE,JOBINVOLVEMENT,JOBLEVEL,JOBROLE,JOBSATISFACTION,MARITALSTATUS,MONTHLYINCOME,MONTHLYRATE,NUMCOMPANIESWORKED,OVERTIME,PERCENTSALARYHIKE,PERFORMANCERATING,RELATIONSHIPSATISFACTION,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51,No,NaN,"684,0$",NaN,6,3,NaN,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,No,13,"3,0",3,0,NaN,5,"3,0",20,15,15,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,14,"3,0",1,1,"34,0",5,"3,0",33,11,9,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,No,11,"3,0",4,0,"22,0",3,NaN,22,11,15,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,NaN,19,"3,0",2,2,NaN,2,NaN,20,5,6,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,No,12,"3,0",4,1,NaN,5,"3,0",19,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,"967,0",3,0,51,2,3,saLEs ExeCUTiVe,4,Married,"10325,0",5518,1,NaN,11,NaN,1,1,NaN,6,"3,0",16,3,7,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,"972,0",3,0,57,3,2,LAboRaTOry tECHNiCIAn,2,NaN,"4447,0",23163,1,NaN,12,"3,0",2,0,NaN,5,"2,0",9,0,8,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,NaN,13,0,41,4,3,sAlES ExECUTivE,3,Single,NaN,2560,0,No,18,"3,0",4,0,"9,0",3,"3,0",8,0,7,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,"990,0",1,0,84,3,2,SaLes ExecUtIVe,4,Divorced,NaN,25952,4,No,13,NaN,4,2,"12,0",3,"3,0",7,0,7,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,NaN,4,0,75,3,3,mAnUfactURInG DiRECTOr,3,NaN,"10845,0",24208,6,NaN,13,"3,0",2,1,NaN,3,"3,0",8,0,7,0

In [10]:
# Imprimir algunos valores de la columna 'ENVIRONMENTSATISFACTION'
print(df_data2['ENVIRONMENTSATISFACTION'].unique())

[ 1  3  4  2 42 37 35 25 27 31 39 21 15 14 33 19 12 13 28 47 36 29 24 46
 16 22 41 49 11 48 18 10 45 38 17 20 26 43]

# Comprobación por columnas

In [11]:
# Reemplazamos los números escritos en letras e ingles por integers
def transformar_age(dataframe,columna): 

    for i, age in enumerate (dataframe[columna]): 
        
        try:
            age = int(age)
            dataframe.loc[i, columna] = age 

        except: 
            numero_entero = w2n.word_to_num(age)  
            dataframe.loc[i, columna] = numero_entero

In [12]:
# Actualmente se encuentran los datos de forma correcta, presentamos la función futura para dicha columna
def transformar_atr(dataframe,columna): 
    
    for i, atr in enumerate (dataframe[columna]): 
        
        try:
            if atr.lower() == 'yes' or 'no':  
                dataframe.loc[i, columna] = atr
   
            else: 
                dataframe.loc[i, columna] = None
                  
        except: 
            print('Error de datos')

In [13]:
def transformar_bus_travel (dataframe, columna):

    dataframe[columna] = dataframe[columna].str.replace("_", " ").replace("-", " ")

In [14]:
def cambiar_float(dataframe,columna): 
    
     for i, element in enumerate (dataframe[columna]): 
        
        if element == "nan$" or element == "nan" or element == "NaN":
            element = np.nan
            dataframe.loc[i, columna] = element
        elif type(element) == str:
            try:
                element = element.replace(",", ".").replace("$","")
                element = float(element)
                dataframe.loc[i, columna] = element
              
            except: 
                print(f"Error daily {i, element}")
        else:
            continue

In [15]:
def transformar_remotework(dataframe, columna):

# Cambiamos los valores del DF para unificar en 1 y 0, ademas pasan de der STR a INT
    
    diccionario_mapeo = {"True": 0, "Yes": 1, "False": 0, "1": 1, "0": 0, "No":0}
    try:
        dataframe[columna] = dataframe[columna].map(diccionario_mapeo)

    except:
        print(f"Error al transformar la columna {columna}")

In [16]:
def cambiar_int(dataframe,columna): 

# Cambiamos los valores del DF de STR a INT
    
    for i, element in enumerate (dataframe[columna]): 
        
        if type(element) == str:
            try:
                element = element.split(",")[0]
                int(element)
                dataframe.loc[i, columna] = element
            except: 
                print(f"Error daily {i, element}")
        else:
            continue

In [17]:
def transformar_department (dataframe, columna):
    dataframe[columna] = dataframe[columna].str.lower().str.strip()

In [18]:
def transformar_gender (dataframe, columna):
    mapeo = {0 : "male", 1 : "female"}
    dataframe[columna]= dataframe[columna].map(mapeo)

In [19]:
def transformar_hourlyrate(dataframe, columna):
    for i, valor in enumerate(dataframe[columna]):
        if isinstance(valor, str):
            try:
                # Reemplazar 'Not Available' por NaN
                if valor.strip() == 'Not Available':
                    dataframe.loc[i, columna] = np.nan
                else:
                    # Eliminar el punto y decimales y convertir a entero
                    valor = float(valor.replace('.', '').split('.')[0])
                    dataframe.loc[i, columna] = valor
            except ValueError:
                print(f"Error de datos en fila {i}: {valor}")
                dataframe.loc[i, columna] = np.nan
        else:
            continue

In [20]:

def transformar_maritalstatus(dataframe, columna):
    for i, valor in enumerate(dataframe[columna]):
        if isinstance(valor, str):
            # Convertir a minúsculas
            valor = valor.lower()
            # Corregir el error ortográfico usando replace
            valor = valor.replace('marreid', 'married')
            dataframe.loc[i, columna] = valor
        else:
            continue

In [21]:
def transformar_float(dataframe, columna):

    dataframe[columna] = dataframe[columna].astype('float64')  # 'Int64' es una forma segura de convertir a enteros con manejo de valores nulos

In [22]:
def limpieza_df(dataframe):
    
    for columna in dataframe.columns:
       
        if columna == "AGE":
            transformar_age(dataframe, columna)

        elif columna == "REMOTEWORK" or columna == "OVERTIME" or columna == "ATTRITION":
            transformar_remotework(dataframe, columna)

        elif columna == "BUSINESSTRAVEL":
            transformar_bus_travel(dataframe, columna) 

        elif columna == "DAILYRATE" or columna == "EMPLOYEENUMBER" or columna == "MONTHLYINCOME"  or columna == "WORKLIFEBALANCE"  or columna == "TOTALWORKINGYEARS" or columna == "PERFORMANCERATING":
            cambiar_float(dataframe, columna)

        elif columna == "DEPARTMENT" or columna == "EDUCATIONFIELD" or columna == "JOBROLE":
            transformar_department(dataframe, columna)

        elif columna == "GENDER":
            transformar_gender(dataframe, columna)

        elif columna == "YEARSWITHCURRMANAGER" or columna == "YEARSSINCELASTPROMOTION" or columna ==  "YEARSATCOMPANY" or columna ==  "TRAININGTIMESLASTYEAR":
            cambiar_int(dataframe, columna)
            
        elif columna == "HOURLYRATE":
            transformar_hourlyrate(dataframe, columna)
        
        elif columna == "MARITALSTATUS":
            transformar_maritalstatus(dataframe,columna)
            
        else:
            continue
    
    lista_float =   ['AGE', 'DAILYRATE', 'EMPLOYEENUMBER', 'HOURLYRATE',
       'MONTHLYINCOME','PERFORMANCERATING', 'TOTALWORKINGYEARS', 'WORKLIFEBALANCE']
    for columna in lista_float: 
        transformar_float(dataframe, columna)

In [23]:
# Llamamos a la funcion de LIMPIEZA del DF
limpieza_df(df_data2)

# En las funciones estamos cambiando el DF original por lo tanto las funciones no tienen return y por eso aqui mostramos como queda el DF modificado
df_data2.head()

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,GENDER,HOURLYRATE,JOBINVOLVEMENT,JOBLEVEL,JOBROLE,JOBSATISFACTION,MARITALSTATUS,MONTHLYINCOME,MONTHLYRATE,NUMCOMPANIESWORKED,OVERTIME,PERCENTSALARYHIKE,PERFORMANCERATING,RELATIONSHIPSATISFACTION,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51.0,0,NaN,684.0,NaN,6,3,NaN,162.0,1,male,51.0,3,5,research director,3,NaN,19537.0,6462,7,0.0,13,3.0,3,0,NaN,5,3.0,20,15,15,1
1,52.0,0,NaN,699.0,NaN,1,4,life sciences,259.0,3,male,65.0,2,5,manager,3,NaN,19999.0,5678,0,NaN,14,3.0,1,1,34.0,5,3.0,33,11,9,1
2,42.0,0,travel rarely,532.0,research & development,4,2,technical degree,319.0,3,male,58.0,3,5,manager,4,married,19232.0,4933,1,0.0,11,3.0,4,0,22.0,3,NaN,22,11,15,1
3,47.0,0,travel rarely,359.0,NaN,2,4,medical,NaN,1,female,82.0,3,4,research director,3,married,17169.0,26703,3,NaN,19,3.0,2,2,NaN,2,NaN,20,5,6,0
4,46.0,0,NaN,1319.0,NaN,3,3,technical degree,NaN,1,female,45.0,4,4,sales executive,1,divorced,NaN,7739,2,0.0,12,3.0,4,1,NaN,5,3.0,19,2,8,0

In [24]:
# Cambiamos los valores negativos de los números de la columna: 
df_data2["DISTANCEFROMHOME"] = df_data2["DISTANCEFROMHOME"].apply(lambda dato : abs(dato))

In [25]:
def cambiar_numero(columna):
    if isinstance(columna, int):
        return int(str(columna)[0])   # Devuelve el primer dígito del número entero
    else:
        return columna  # Devuelve el valor original si no es un entero

# Aplica la función cambiar_numero a la columna 'ENVIRONMENTSATISFACTION'
df_data2['ENVIRONMENTSATISFACTION'] = df_data2['ENVIRONMENTSATISFACTION'].apply(cambiar_numero)

In [26]:
print(df_data2.to_string())

       AGE  ATTRITION     BUSINESSTRAVEL  DAILYRATE              DEPARTMENT  DISTANCEFROMHOME  EDUCATION    EDUCATIONFIELD  EMPLOYEENUMBER  ENVIRONMENTSATISFACTION  GENDER  HOURLYRATE  JOBINVOLVEMENT  JOBLEVEL                    JOBROLE  JOBSATISFACTION MARITALSTATUS  MONTHLYINCOME  MONTHLYRATE  NUMCOMPANIESWORKED  OVERTIME  PERCENTSALARYHIKE  PERFORMANCERATING  RELATIONSHIPSATISFACTION  STOCKOPTIONLEVEL  TOTALWORKINGYEARS  TRAININGTIMESLASTYEAR  WORKLIFEBALANCE  YEARSATCOMPANY  YEARSSINCELASTPROMOTION  YEARSWITHCURRMANAGER  REMOTEWORK
0     51.0          0                NaN      684.0                     NaN                 6          3               NaN           162.0                        1    male        51.0               3         5          research director                3           NaN        19537.0         6462                   7       0.0                 13                3.0                         3                 0                NaN                      5              3.0              20                       15                    15           1
1     52.0          0                NaN      699.0                     NaN                 1          4     life sciences           259.0                        3    male        65.0               2         5                    manager                3           NaN        19999.0         5678                   0       NaN                 14                3.0                         1                 1               34.0                      5              3.0              33                       11                     9           1
2     42.0          0      travel rarely      532.0  research & development                 4          2  technical degree           319.0                        3    male        58.0               3         5                    manager                4       married        19232.0         4933                   1       0.0                 11                3.0                         4                 0               22.0                      3              NaN              22                       11                    15           1
3     47.0          0      travel rarely      359.0                     NaN                 2          4           medical             NaN                        1  female        82.0               3         4          research director                3       married        17169.0        26703                   3       NaN                 19                3.0                         2                 2                NaN                      2              NaN              20                        5                     6           0
4     46.0          0                NaN     1319.0                     NaN                 3          3  technical degree             NaN                        1  female        45.0               4         4            sales executive                1      divorced            NaN         7739                   2       0.0                 12                3.0                         4                 1                NaN                      5              3.0              19                        2                     8           0
5     48.0          0                NaN      117.0  research & development                22          3           medical          1900.0                        4  female        58.0               3         4                    manager                4           NaN        17174.0         2437                   3       0.0                 11                3.0                         2                 1                NaN                      3              3.0              22                        4                     7           1
6     59.0          0                NaN     1435.0                     NaN                25          3     life sciences            81.0                        1  female        99.0               3         3            sales executive                1           NaN            NaN         2354                   7       NaN                 11                3.0                         4                 0               28.0                      3              2.0              21                        7                     9           0
7     42.0          0      travel rarely      635.0                     NaN                 1          1               NaN           387.0                        2    male        99.0               3         2            sales executive                3       married            NaN        24532                   1       0.0                 25                4.0                         3                 0               20.0                      3              3.0              20                       11                     6           0
8     41.0          0                NaN     1276.0                     NaN                 2          5               NaN             NaN                        2  female        91.0               3         4                    manager                1       married        16595.0         5626                   7       0.0                 16                3.0                         2                 1               22.0                      2              3.0              18                       11                     8           0
9     41.0          0  travel frequently      840.0                     NaN                 9          3               NaN           999.0                        1    male        64.0               3         5          research director                3           NaN            NaN         3735                   2       0.0                 17                3.0                         2                 1               21.0                      2              4.0              18                        0                    11           0
10    41.0          0         non-travel      247.0                     NaN                 7          1               NaN          1035.0                        2  female        55.0               1         5          research director                3           NaN        19973.0        20284                   1       0.0                 22                4.0                         2                 2                NaN                      3              3.0              21                        5                    10           0
11    56.0          0      travel rarely     1369.0                     NaN                23          3     life sciences             NaN                        4    male        68.0               3         4     manufacturing director                2       married        13402.0        18235                   4       1.0                 12                NaN                         1                 1               33.0                      0              3.0              19                       15                     9           0
12    38.0          0                NaN      201.0                     NaN                10          3           medical             NaN                        2  female        99.0               1         3          research director                3       married        13206.0         3376                   3       0.0                 12                3.0                         1                 1                NaN                      3              3.0              18                        1                    11           1
13    41.0          1      travel rarely     1360.0                     NaN                12          3               NaN            58.0                        2  female        49.0               3         5          research director                3       married        19545.0        16280                   1       0.0                 12                3.0                         4                 0                NaN                      0              3.0              22                       15                     8           0
14    55.0          0                NaN      692.0                     NaN                14          4           medical             NaN                        3    male        61.0               4         5          research director                2        single            NaN        13339                   8       0.0                 11                3.0                         4                 0                NaN                      3              3.0              24                        2                    15           0
15    40.0          0      travel rarely     1398.0                     NaN                 2          4               NaN           558.0                        3  female        79.0               3         5                    manager                3           NaN        18041.0        13022                   0       0.0                 14                3.0                         4                 0                NaN                      2              3.0              20                        1                    12           0
16    58.0          1      travel rarely      286.0                     NaN                 2          4               NaN           825.0                        4    male        31.0               3         5          research director                2        single        19246.0        25761                   7       1.0                 12                3.0                         4                 0               40.0                      2              3.0              31                       13                     8           0
17    46.0          0      travel rarely     1402.0                     NaN                 2          3               NaN             NaN                        3  female        69.0               3         4                    manager                1           NaN            NaN        24097                   8       NaN                 23                4.0                         1                 0               28.0                      2              3.0              26                       15                     9           0
18    35.0          0                NaN      819.0                     NaN                13          5     life sciences             NaN                        2    male        48.0               4         2         research scientist                1       married            NaN        26312                   1       NaN                 11                3.0                         4                 0                NaN                      2              3.0              16                        1                    10           0
19    40.0          0      travel rarely      884.0                     NaN                15          3     life sciences             NaN                        1  female        80.0               2         3     manufacturing director                3           NaN            NaN        25800                   1       NaN                 13                3.0                         4                 2               18.0                      2              NaN              18                       14                    12           0
20    45.0          0         non-travel     1238.0  research & development                 1          1               NaN          1712.0                        3    male        74.0               2         3  healthcare representative                3           NaN        10748.0         3395                   3       NaN                 23                4.0                         4                 1               25.0                      3              2.0              23                       14                     4           0
21    33.0          0                NaN      515.0                     NaN                 1          2     life sciences            73.0                        1  female        98.0               3         3          research director                4        single            NaN        15146                   1       1.0                 12                3.0                         3                 0               15.0                      1              3.0              15                        8                    12           0
22    36.0          0                NaN     1223.0                     NaN                 8          3               NaN             NaN                        3  female        59.0               3         3  healthcare representative                3      divorced            NaN         8202                   1       NaN                 13                NaN                         2                 3               17.0                      2              3.0              17                       12                     8           1
23    47.0          0                NaN      202.0                     NaN                 2          2             other           820.0                        3  female        33.0               3         4                    manager                4       married        16752.0        12982                   1       NaN                 11                3.0                         3                 1                NaN                      3              2.0              26                        3                     0           0
24    36.0          0      travel rarely      928.0                     NaN                42          2     life sciences             NaN                        4    male        56.0               3         2            sales executive                4           NaN         6201.0         2823                   1       NaN                 14                3.0                         4                 1               18.0                      1              NaN              18                        4                    11           0
25    35.0          0                NaN      607.0                     NaN                 9          3     life sciences             NaN                        4  female        66.0               2         3     manufacturing director                3       married            NaN        23457                   1       1.0                 20                4.0                         2                 1               17.0                      2              3.0              17                        5                    15           0
26    52.0          1                NaN      266.0                     NaN                 2          1               NaN             NaN                        1  female        57.0               1         5                    manager                4       married        19845.0        25846                   1       0.0                 15                3.0                         4                 1               33.0                      3              3.0              32                        6                     9           1
27    36.0          0                NaN      429.0                     NaN                 2          4     life sciences          1294.0                        3  female        53.0               3         2     manufacturing director                2        single            NaN         2323                   9       1.0                 11                3.0                         4                 0               18.0                      2              3.0              16                        5                    12           0
28    33.0          0      travel rarely      589.0                     NaN                28          4     life sciences             NaN                        2    male        79.0               3         2      laboratory technician                3       married            NaN        22949                   1       NaN                 12                3.0                         2                 1               15.0                      3              3.0              15                        5                     7           1
29    34.0          0         non-travel        NaN                   sales                10          3     life sciences          1774.0                        4    male        87.0               3         2            sales executive                3           NaN         4001.0        12313                   1       1.0                 14                3.0                         3                 1               15.0                      3              3.0              15                        0                     7           1
30    41.0          0                NaN        NaN                   sales                37          1               NaN          1815.0                        3  female        81.0               3         3            sales executive                3      divorced        10447.0        26458                   0       NaN                 13                3.0                         4                 1                NaN                      3              4.0              22                       13                     5           1
31    47.0          0                NaN     1180.0  research & development                25          3           medical          1993.0                        1    male        84.0               3         3  healthcare representative                3           NaN            NaN        13084                   2       NaN                 23                4.0                         2                 0               25.0                      3              3.0              17                       12                    11           1
32    53.0          0      travel rarely     1282.0                     NaN                 5          3               NaN            32.0                        3  female        58.0               3         5                    manager                3           NaN            NaN        10735                   4       NaN                 11                3.0                         4                 1               26.0                      3              2.0              14                        4                     8           1
33    35.0          0                NaN      776.0                     NaN                 1          4         marketing           100.0                        3    male        32.0               2         2            sales executive                1        single            NaN        23016                   0       0.0                 14                NaN                         2                 0               16.0                      2              3.0              15                        2                     8           0
34    34.0          0      travel rarely      665.0                     NaN                 6          4             other             NaN                        1  female        41.0               3         2         research scientist                3        single            NaN        12482                   1       NaN                 14                3.0                         3                 0               16.0                      3              3.0              16                        2                    10           0

In [27]:
#guardamos despues de arreglar las columnas
df_data2.to_csv("../DATA/data_fase_2.csv")

In [28]:
columnas = df_data2.columns
Saira= columnas[3:11:]
Bea = columnas[11:18:]
Karine= columnas[18:26:]
Rebeca= columnas[26::]


# *Criterios:
# - Strings
#     Lower
#     Mantener espacios
#     categoricas/ordinales (ej:nivel de estudios) de menor a mayor

# * Numeros
#   Remplazar , por .
#   Eliminar simbolos
#   Cambiar a Int/Float

# * Booleanos
#   1/0 (1 = Yes/True y 0 = No/False)